---
layout: page_title
title: 归档目录
titlename: 首页
---
<!--<br>--> 
<center>
	<h3>
		<font color="#000080">要</font>
		<font color="#FFA500">么</font>
		<font color="#2E8B57">不</font>
		<font color="#F08080">做</font>
		<font color="#BA55D3">, </font>
		<font color="#601986">要</font>
		<font color="#556fb5">么</font>
		<font color="#fa1089">做</font>
		<font color="#638c0b">好</font>
		<font color="#e00089">！</font>
	</h3>
</center>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }} ({{ paginator.posts.size }})条 </div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
      	<span style="display: inline-block; width: 48px;height: 48px;margin-bottom: -16px;background-image: url(/public/img/dog.png);"></span>
          <span style="margin-left: 10px;font-size: 24px;">
          	{{post.title}}
          </span>
          <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
        </a>
      {% endfor %}
      <!--引入分页模板-->
      {% include paging.html %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div> 
 
