/* 页面配置 */
.container {
  width: 100%;
  height: 100%;
}
body, html {
  margin: 0px;
  height: 100%;
  overflow: hidden; 
  background-color: #303030;
}
.row {
  height: 100%;
  width: 103%;
}
/* 导航栏 + 目录栏 */
.aside {
  height: 100%;
 /*margin-right: -9%;*/
	background: #FFF;
}

/* 左侧导航栏 */
.aside1 {
  /*background-color: #1f2c39;*/
  background-color: #1abc9c;
  /*background-image: url(/public/img/bg_grid.jpg);*/
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  /*box-shadow: inset -15px 0 20px -15px #77AEF4;*/
 	width: 20%;
  /*padding-left: 4%;*/
}
.aside1 > .nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  color: #fff;
  font-size: 15px;
  padding: 10px 10px;

}

.aside1> .nav > li > a:hover {
  color:#fff;
  background-color: #16a085;
}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #fff;
  /*background-color: #fafaf6;*/
  /*background-image: url(/public/img/body_bg.jpg);*/
  background-color: #7098A7;
}

.avatar {
  width: 56px;
  /*height: 90px;*/
  border: 0px solid #fff;
}
.aside1_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.aside1_bottom > .table {
  margin-bottom: 0px;
}
/* 中部目录栏 */
.aside2 {
  /*background-color: #fafaf6;*/
  /*background-image: url(/public/img/body_bg.jpg);*/

  background-color: #1ABC9C;
  height: 95%;
  /*border-right: 2px solid #303030;*/
  font-color: #fff;
  margin-top: 7%;
  width: 80%;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-left: 3px;
  /*padding-right: 30px;*/
}

div ::-webkit-scrollbar{
	width: 0px;
}

/* 右侧内容栏 */
.aside3 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  overflow-x: hidden;
  /*background-image: url(/public/img/bg_lines1.jpg);*/
 margin-right: -9%;
}
.aside3-title {
  background-color: #f5f5f5;
  /*background-image: url(/public/img/bg_grid.jpg);*/
  border-bottom: 1px solid #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: #303030;
}
.aside3-content {
/*  padding-left: 40px;
  padding-right: 40px;
*/  
  padding: 0 5% 0 5%;
  color: #656565;
  line-height: 1.42857143;
}
#content {
  font-size: 18px;
}
#content h2, h3 {
  line-height: 2;
}
blockquote p {
  font-size: 20px;
}
/* 其他配置 */
.center {
  text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #7098A7;
}
/* 显示评论按钮 */
.show-commend {
  width: 100%;
  margin-bottom: 40px;
}

.about i:before,a{
	display: inline-block;
	padding: 5px;
	color:#16a095;
	text-decoration: none;
}

a{
	text-decoration: none;
	cursor: pointer;
}

#return-top{
	display: block;
	background-color: #009926;
	display: none;
	position: fixed;
	right: 20px;
	bottom: 80px;
	z-index: 300;
	width: 45px;
	height: 45px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	color: #FFF;
	opacity: .8;
}
a,a:link,a:visited{
	text-decoration: none;
	/*word-wrap: break-word;
  word-break: break-all;*/
}

.icon-pos{
	position: absolute;
	margin: 25% 19%;
}

/*自定义修改的样式*/
.panel-group-custom{
	/*覆盖bootstrap的样式*/
  margin-left: 0;
}

.tab-pane-custom{
	/*width: 80%;*/
}

.tab-content-custom{
	/*width: 100%;
  margin-left: -16px;*/
}

.tab-content-row{
	height: 100%;
  width: 100%;
}

.col-md-row{
	height: 100%;
	/*margin-left: -4%;*/
	width: 100%;
	background: #1ABC9C;
}

.pjaxlink-custom{
	margin-left: 0;
	
}

.panel-title a{
	display: block;
}

a.list-group-item-lay.pjaxlink.pjaxlink-custom {
    background: #fff;
    color: #31709B;
    margin-top: 3px;
    border-radius: 4px;
}

.post-desc{
	font-size: 20px;
  text-align: left;
}

.page-desc{
	vertical-align: top;
}
#nav div{
	margin-left: 0px;
}

.pageNo{
	
	display: inline-block;
	/*background: #31B0D5;*/
	width: 36px;
	height: 36px;
	line-height: 18px;
	padding: 12px;
	font-size: 18px;
	border: 1px solid #16A085;
	margin:10px auto;
	margin-left: 11px;
	
}

a:hover,a:visited{
	cursor: pointer;
}

.post-tags{
	text-align: left;
	font-size: 20px;
  margin-bottom: 10px;
}

.post-tags span{
	color: #036CB4;
	
	font-weight: bold;
}

.panel-custom{
	box-shadow: 8px 5px 1px rgba(0, 0, 0, 0.1);
	
}

.panel-custom:hover{
  cursor: pointer;
  background-color: #CDF1EB
  
}
.panel-heading-custom{
	font-weight: bold;
}

.page-description{
  display: inline-block;
  width: 80%;
  height: 60px;
}


#content_table{
	position:absolute;
	right:20px;
	top:120px;
	display:none;
	max-width: 50%;
}

@media only screen and (min-width: 1000px){
	.aside {
		width: 20%;
	}
}

@media only screen and (min-width: 100px) and (max-width: 1000px) {
	.aside {
		max-width: 100%;
	}
}

@media only screen and (min-width: 100px) and (max-width: 1000px) {
	#content_table{
		min-width:20%;
	}
	
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) {
	#content_table{
		max-width:20%;
	}
}
@media only screen and (min-width: 1600px) {
	#content_table{
		max-width:20%;
	}
}

th, td {
    padding: 10px;
    border: 1px solid #000;
}

a.list-group-item-lay.pjaxlink.pjaxlink-custom:hover {
    background: #f5f5f5;
}