<!-- 多说评论框 start -->
	<!--<div class="ds-thread" data-thread-key={{ page.id }}  data-title={{ page.title }} data-url="{{ site.url }}{{ page.url }}"></div>-->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<!--<script type="text/javascript">
var duoshuoQuery = {short_name:"jingzz"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>-->
<!-- 多说公共JS代码 end -->
<a id="showDuoshuoBtn" href="javascript:void(0);" onclick="toggleDuoshuoComments(this,'#comment-box', '{{ page.id }}', '{{ site.url }}{{ page.url }}');">打开评论</a>
<div id="comment-box" ></div>


<script>var duoshuoQuery = {short_name:"fooleap"};</script>
<script src="http://static.duoshuo.com/embed.js"></script>

<script type="text/javascript">
function toggleDuoshuoComments(src,container, id, url){
  if(jQuery(container).has("div").length>0){
    jQuery(container).empty();
    jQuery(src).text("打开评论");
    return;
  }
  var el = document.createElement('div');
  el.setAttribute('data-thread-key', id);
  el.setAttribute('data-url', url);
  DUOSHUO.EmbedThread(el);
  jQuery(container).append(el);
  
  jQuery(src).text("关闭评论");
}
</script>
