 <!--变量赋值-->
  {% assign num = site.posts.size | divided_by:site.paginate %}
  {% assign modu = site.posts.size | modulo:site.paginate %}
  <!--分页页码循环-->
  {% for index in (1..num)  %}
      {% if index == 1 %}
       <a class="pageNo" href="{{size.url}}/">{{ index }}</a>
      {% elsif index == num and  modu > 0 %}
       <a class="pageNo" href="{{size.url}}/page{{index}}">{{ index}}</a>
       <a class="pageNo" href="{{size.url}}/page{{index | plus:1}}">{{ index | plus:1 }}</a>
      {% elsif index > 1 and index < num %}
       <a class="pageNo" href="{{size.url}}/page{{index}}">{{ index }}</a>
      {% else %}
      {% endif %}
  {% endfor %}