---
layout: base
---

<a href="#" name="top" style="visibility: hidden;"></a>
<div class="row" >
  <div class="col-md-13 aside3-title">
    <br>
    <h2 id="#identifier">{{ page.title }}</h2>
    <span style="display: block;margin-left: 40%"> ----{{ page.date | date:"%Y年%m月%d日" }}</span>
    <div class="post-desc">{{ page.description }}</div>
  </div>
  <div class="col-md-13 aside3-content">
    <hr>
    <div id="content">
      {{ content }}
    </div>
    <hr>
    {% include duoshuo.html %}
  </div>
  <!-- 目录 -->
  <div id="content_table" style="position:absolute;right:20px;top:120px;display:none;width: 15%;" >
    <div class="panel panel-success" >
      <div class="panel-body" id="nav" style="overflow: scroll;width: 100%;height: 600px"></div>
    </div>
  </div>
  
  <a href="#top" id="return-top" title="返回顶部" data-no-ajax="" style="display: block;">
			<span class="fa fa-arrow-up fa-lg icon-pos"></span>
		</a>
</div>


